extends layout

block menuitem
  - var active = 'Articles';

block content
  .container.page-content
    .article-info
      span.article-author
        - var author = article.author.profile
        a.rating(href='/profile/'+author.username, class="rating-"+author.rating)= author.username
      .article-date.pull-right= moment(article.createdAt).fromNow()

    div!= article.content
    hr
    .article-category
      i.fa.fa-folder-open
      span= article.category.name
    .article-tags
      i.fa.fa-tags
      each tag in article.tags
        a.article-tag(href='#', title=tag.name)= tag.tag

    //- TODO(naum): Article requirements
    //- TODO(naum): Article history
