extends layout

block menuitem
  - var active = '';

block content
  .container.page-content
    .profile-left.col-sm-3
      .profile-header.col-xs-4.col-sm-12
        img.profile-photo(src=user.profile.avatar_url ? user.profile.avatar_url : '/images/user.png')
        .profile-username(class="rating-"+user.profile.rating)= user.profile.username
      hr.hidden-xs
      .profile-infos.col-xs-8.col-sm-12
        .profile-info
          strong Registered
          span= moment(user.registeredAt).fromNow()
        .profile-info
          strong Articles written
          span= user.authored.length
        //-.profile-info
          strong Articles read
          span 0
        .profile-info
          strong Contribution
          span= user.contribution.length
        each val, key in user.handles
          .profile-info
            strong= key
            span= val
        //-if currentUser && user.usernameLower === currentUser.usernameLower
          button.btn.btn-default.btn-block(style="margin-top: 12px") Edit Profile
    hr.visible-xs
    .profile-right.col-xs-12.col-sm-9
      .construction
        | Under Construction
      //-.profile-activities-title Activity
      //-.profile-activities
        .profile-activity
          | Activity 0
        .profile-activity
          | Activity 1
